{{ define "main" }}

        <div class="top-head-pages">
          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>
          <div class="txt-info-pages">Contact <strong>Frank and Sherri</strong> to learn how you can <strong>invest in real estate and be a social-preneur</strong></div>
        </div>

        <div>
      <div class="b-cnt-flex">
        <div class="material-divs-b">
          <div>󰍎</div>
        </div>
        <div>
          <h4 class="h4-sm">Location</h4>
          <div>415 1st Avenue North, Unit 9264 Seattle, WA 98109</div>
        </div>
      </div>
      <div class="b-cnt-flex">
        <div class="material-divs-b">
          <div>󰏲</div>
        </div>
        <div>
          <h4 class="h4-sm">EIN</h4>
          <div>81-4323129</div>
        </div>
      </div>
    </div>

        

{{end}}
