{{ define "main" }}

          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>

          <div class="b-wrapper-pages">


            <form  name="Event"  method="post" netlify>
              <div class="form-grid">
                <div class="form-control"><label for="Name-3" class="field-label">Name</label><input type="text" class="input_form_style w-input" maxlength="256" name="Name" data-name="Name" placeholder="Full Name" id="Name-3" required=""></div>
                <div class="form-control"><label for="Email-Address" class="field-label">email</label><input type="text" class="input_form_style w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="email address" id="Email-Address" required=""></div>
                <div class="form-control"><label for="Phone-number" class="field-label">Phone number</label><input type="tel" class="input_form_style w-input" maxlength="256" name="Phone-number" data-name="Phone number" placeholder="Phone number" id="Phone-number" required=""></div>

                <div class="form_group half"><label for="city" class="field_label">Address: City</label><input required type="text" class="input_form_style w-input" maxlength="256" name="City" data-name="phone" placeholder="City" id="city"></div>
                <div class="form_group half"><label for="state" class="field_label">Address: State</label><input required type="text" class="input_form_style w-input" maxlength="256" name="State" data-name="phone" placeholder="State" id="State"></div>
                <div class="form_group half"><label for="zip" class="field_label">Address: ZIP</label><input required type="text" class="input_form_style w-input" maxlength="256" name="State" data-name="phone" placeholder="ZIP" id="zip"></div>

              </div>
              <button type="submit" value="Submit" class="submit w-button">Submit</button>

            </form>
          </div>




{{end}}
