{{ define "main" }}

          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>

          <div class="b-wrapper-pages">
            <div class="w-form">
                        <form   name="Event"  method="post" netlify>
                          <div class="form-grid">
                            <div class="form-control"><label for="Name-3" class="field-label">Name</label><input type="text" class="input_form_style w-input" maxlength="256" name="Name" data-name="Name" placeholder="Full Name" id="Name-3" required=""></div>
                            <div class="form-control"><label for="Email-Address" class="field-label">email</label><input type="text" class="input_form_style w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="email address" id="Email-Address" required=""></div>
                            <div class="form-control"><label for="Phone-number" class="field-label">Phone number</label><input type="tel" class="input_form_style w-input" maxlength="256" name="Phone-number" data-name="Phone number" placeholder="Phone number" id="Phone-number" required=""></div>
                            <div class="form-control"><label for="Address" class="field-label">address</label><input type="text" class="input_form_style w-input" maxlength="256" name="Address" data-name="Address" placeholder="Address" id="Address"></div>
                          </div>
                          <button type="submit" value="Submit" class="submit w-button">Submit</button>

                        </form>

            </div>
            <form class=""  method="post" netlify>
              <div class="form">


              <label>What is your name?
      <input name="full-name" type="text" placeholder="Your full name" required>
    </label>
    <label>What is your email address?
      <input name="email-address" type="email" placeholder="Your email" required>
    </label>
    <label>What your message?
      <textarea name="message" type="text" placeholder="Your message..." required></textarea>
    </label>
      </div>
      <button type="submit" value="Submit" id="Form-submit">Submit</button>
            </form>

          </div>




{{end}}
