{{ define "main" }}

          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>

          <div class="b-wrapper-pages">

            <div class="b-past-event">
            <h2 class="e-h2-events">upcoming events</h2>
            <div class="b-events-past">
              <div class="b-flex-events">
                <div class="b-event-info">
                  <div class="heading-onevents">
                    <h3 class="e-event-head white-txt">Learn how you can buy Single Family Homes, Develop Shared Housing and Tap into Federal and State Funding</h3>
                  </div>
                  <div class="b-flex-2sides">
                    <div class="e-semi-topics">date:</div>
                    <div class="text-block">October 16, 2020 (9 AM - 4:30 PM)</div>
                  </div>
                  <div class="b-flex-2sides">
                    <div class="e-semi-topics">Real estate visionaries and trainers:</div>
                    <div class="text-block">Frank and Sherri Candelario, Ph.D</div>
                  </div>
                  <div class="b-flex-   2sides">
                    <div class="e-semi-topics">fee:</div>
                    <div class="text-block">$2,495</div>
                  </div>
                  <p> <b>Bus tour and hands on class at the houses in groups of 5 TBD.</b></p>
                  <p> <b><u>Fee includes a workshop at future date at a shared house for on-site instruction</u></b></p>
                  <p>Come join Frank and Sherri Candelario, Ph.D.  as they teach you how to purchase, rehab and house people in shared housing.   Learn how to work with local and state agencies, what types of contracts are needed, insurance, and  how to get funded.   This successful team created <a href="http://www.kateshousefoundation.org/" target="_blank">www.kateshousefoundation.org</a> and built a multi-million dollar real estate  portfolio of rapidly appreciating homes, with mortgages and expenses paid by state and federal funds..  Learn about state and national certification standards.  Sherri is on the Board of Directors of WAQR, the state affiliate of the National Alliance of Recovery Residences.<br>‍<br></p>
                  {{partial "products" . }}
                  <button type="button" name="button"></button>

                </div>
                <div class="event-img-holder">
                  <div class="e-event-img" style ="background-image: url('/images/sherri-and-frank-teaching.jpg');"></div>
                </div>
              </div>
              <div class="b-flex-events">
              <div class="b-event-info">
                <div class="heading-onevents">
                  <h3 class="e-event-head white-txt">free event:  build a real estate portfolio, create a family legacy and end housing insecurity</h3>
                </div>
                <div class="b-flex-2sides vertical">
                  <div class="e-semi-topics">dates:</div>
                  <div class="text-block">October 6, 2020 AT NOON PST</div>
                  <div class="text-block">October 8, 2020 AT 3 PM PST</div>
                  <div class="text-block">October 10, 2020 AT 11 AM PST</div>
                </div>
                <div class="b-flex-2sides">
                  <div class="e-semi-topics">Real estate visionaries and trainers:</div>
                  <div class="text-block">Frank and Sherri Candelario, Ph.D</div>
                </div>
                <div class="b-flex-2sides">
                  <div class="e-semi-topics">Fee:</div>
                  <div class="text-block">FREE</div>
                </div>
                <div class="b-flex-2sides">
                  <div class="e-semi-topics">Duration:</div>
                  <div class="text-block">1 hour</div>
                </div>
                <ul role="list" class="list-style">
                  <li style="color:#000f22;">How does an investor achieve high returns using  a model of socially responsible investing?</li>
                  <li style="color:#000f22;">Can an investor make a difference in society by investing in professionally managed single-family homes?</li>
                  <li style="color:#000f22;">Can investors solve housing insecurity for disabled veterans, vulnerable men and women, foster children, justice involved and people in recovery achieving double to triple returns?</li>
                  <li style="color:#000f22;">Can we use funding contracts with federal and state governments?</li>
                </ul>
                <p><strong>Yes you can.  join Frank and Sherri Candelario, Ph.D. to learn how to buy and rehab homes, get contracts to assist in payments</strong> and  tap into federal and state funding this one hour presentation will provide an overview on how you can develop a real estate portfolio, provide a living legacy and help those in need.<br></p>
                <a data-w-id="2e0b375f-3d76-09e3-4f99-c89341a98862" href="{{.Site.BaseURL}}/event-registration" class="reg-now-btn w-inline-block">
                  <div>register now</div>
                </a>
              </div>
              <div class="event-img-holder">
                <div class="e-event-img"  style ="background-image: url('/images/sherri-and-frank-teaching.jpg');"></div>
              </div>
              </div>
            </div>


            </div>


          </div>




{{end}}
