{{ define "main" }}

          <h1 class="e-toph1 toppages">frequently asked questions</h1>
          <div class="b-wrapper-pages">
            <div class="b-faq-grid">
              <!-- how can I invest top -->


              {{$faqmain := .Site.GetPage "/faqpages"}}
              {{$reusablFAQ := $faqmain.Resources.Match "invest.md"}}
              {{range $reusablFAQ}}
              <div id="w-node-792bc8d5ae96-510a368e" data-w-id="184c2bd4-ca2f-b164-f490-792bc8d5ae96" class="b-faq-invest" style ="background-image: url('/images/{{.Params.images}}');">
              {{partial "faq-holder" .}}
              </div>
              {{end}}
              <!-- how can I invest top end -->

              <!-- faq (grid this is a section) -->
              <div id="w-node-792bc8d5aea1-510a368e" class="b-faq-sub-2">
                {{$faqmain := .Site.GetPage "/faq-2"}}
                {{$reusablFAQ := $faqmain.Resources.ByType "page"}}
                {{range $reusablFAQ}}
                <div data-w-id="fe6be803-e86f-2e4d-2281-0be1e7f1bded" class="b-faq-invest" style ="background-image: url('/images/{{.Params.images}}');">
                  {{partial "faq-holder" .}}
                </div>
                {{end}}
              </div>
              <!-- faq (grid this is a section) end -->

              <!-- area for accredited faq starts -->
              {{$faqmain := .Site.GetPage "/faqpages"}}
              {{$reusableFAQ := $faqmain.Resources.Match "accreditation.md"}}
              {{range $reusableFAQ}}
              <div id="w-node-b666b6f33151-510a368e" data-w-id="01872b46-8647-26cf-f0c6-b666b6f33151" class="b-faq-invest" style ="background-image: url('/images/{{.Params.images}}');">
              {{partial "faq-holder" .}}
            </div>
            {{end}}
              <!-- area for accredited faq ends -->

              <div id="w-node-a5b1f4a02bab-510a368e" class="b-faq-sub-area-grid3">

                {{$faqmain := .Site.GetPage "/faqpages"}}
                {{$reusableFAQ := $faqmain.Resources.Match "accredited-investor.md"}}
                {{range $reusableFAQ}}
              <div id="w-node-a5b1f4a02bac-510a368e" data-w-id="a089c0af-7240-084d-0030-a5b1f4a02bac" class="b-faq-invest">
                {{partial "faq-holder" .}}
              </div>
                {{end}}


                {{$faqmain := .Site.GetPage "/faqpages"}}
                {{$reusableFAQ := $faqmain.Resources.Match "distributions.md"}}
                {{range $reusableFAQ}}
                <div id="w-node-a5b1f4a02bb7-510a368e" data-w-id="a089c0af-7240-084d-0030-a5b1f4a02bb7" class="b-faq-invest">
                  {{partial "faq-holder" .}}
                </div>
              {{end}}
              <!-- <div id="w-node-5b1527a13c96-510a368e" class="b-last-grid">
                <div id="w-node-3c9cc0d4716e-510a368e" data-w-id="4986c7cc-589d-9e6a-1569-3c9cc0d4716e" class="b-faq-invest">
                  <div style="background-color:rgba(0,28,87,0.71)" class="b-faq-overlay">
                    <div class="b-faq-inner">
                      <div class="b-faq-center-txt">
                        <h3 class="e-faq-head top">WHAT IS THE FEE STRUCTURE?</h3>
                      </div>
                      <div style="display:none;opacity:0;-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-txt-drop-faq">
                        <p class="white-txt">Investors receive a 12% preferred return. Shared Housing Solutions charges a 1% management fee.  Once investor capital is fully returned and the preferred return is paid, Shared Housing Solutions receives 70% of the profits and investors receive 30%. A 2.5% acquisition fee and 2.5% disposition fee will also be charged for all assets. We do not charge a fee to setup an account</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-5ec314ea6088-510a368e" data-w-id="191ebfb4-8d1d-603f-786b-5ec314ea6088" class="b-faq-invest">
                  <div style="background-color:rgba(0,28,87,0.71)" class="b-faq-overlay">
                    <div class="b-faq-inner">
                      <div class="b-faq-center-txt">
                        <h3 class="e-faq-head">how can i invest?</h3>
                      </div>
                      <div style="display:none;opacity:0;-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-txt-drop-faq">
                        <p class="white-txt">Similar to a 1099, a K-1 form is an accounting of the tax income for the year which Shared Housing Solutions issues to each of our investors in real estate ownership.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-w-id="855751b5-5e57-6e76-b14f-0e08bc473b2d" class="b-faq-invest">
                  <div style="background-color:rgba(0,28,87,0.71)" class="b-faq-overlay">
                    <div class="b-faq-inner">
                      <div class="b-faq-center-txt">
                        <h3 class="e-faq-head">how cWHAT TAX FORMS DOES KEYCITY CAPITAL ISSUE?an i invest?</h3>
                      </div>
                      <div style="display:none;opacity:0;-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-txt-drop-faq">
                        <p class="white-txt">Similar to a 1099, a K-1 form is an accounting of the tax income for the year which Shared Housing Solutions issues to each of our investors in real estate ownership.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>

            </div>
          </div>

{{end}}
