{{ define "main" }}

          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>

          <div class="b-wrapper-pages">

            <div class="w-form">
                      <form action="https://app.99inbound.com/api/e/MGRiufT0" method="POST" id="email-form" name="email-form" data-name="Email Form" class="form" >
                        <div id="w-node-9c2d6cbb40c2-0c72b48c" class="form_group half"><label for="name-3" class="field_label">Name</label><input type="text" class="input_form_style w-input" maxlength="256" name="name" data-name="name" placeholder="FULL NAME" id="name"></div>
                        <div class="form_group half"><label for="Email" class="field_label">email</label><input type="email" class="input_form_style w-input" maxlength="256" name="Email" data-name="Email" placeholder="EMAIL ADDRESS" id="Email"></div>
                        <div class="form_group half"><label for="phone" class="field_label">phone number</label><input type="tel" class="input_form_style w-input" maxlength="256" name="phone" data-name="phone" placeholder="PHONE NUMBER" id="phone"></div>

                        <div class="form_group half">
                          <label for="phone-2" class="field_label">dessert selection</label>
                          <label class="e-form-radio w-radio"><input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" class="w-form-formradioinput e-form-radio-btn w-radio-input"><span class="w-form-label">Cheesecake with Strawberries</span></label><label class="e-form-radio w-radio"><input type="radio" data-name="Radio 2" id="radio-2" name="radio" value="Radio" class="w-form-formradioinput e-form-radio-btn w-radio-input">
                            <span class="w-form-label">Cheesecake with Strawberries</span></label></div>

                        <div class="form_group half">
                          <label for="phone-2" class="field_label">dinner selection</label>
                          <label class="e-form-radio w-radio">
                            <input type="radio" data-name="Radio 3" id="radio-3" name="radio" value="Radio" class="w-form-formradioinput e-form-radio-btn w-radio-input"><span class="w-form-label">Cheesecake with Strawberries</span></label><label class="e-form-radio w-radio"><input type="radio" data-name="Radio 4" id="radio-4" name="radio" value="Radio" class="w-form-formradioinput e-form-radio-btn w-radio-input">
                            <span class="w-form-label">Cheesecake with Strawberries</span></label></div>

                        <div class="form_group half">
                          <label for="phone-2" class="field_label">dinner selection</label>
                          <select id="field" name="field" class="e-select-form w-select"><option value="stock market">stock market</option>
                            <option value="Real Estate">Real Estate</option><option value="Other">Other</option></select></div>


                        <div class="form_group half"><label for="Message" class="field_label">Message</label><textarea placeholder="TYPE YOUR MESSAGE.." maxlength="5000" id="Message" name="Message" data-name="Message" class="input_form_style txtarea w-input"></textarea></div>
                        <div>
                          <input type="submit" name="Submit" value="Submit">
                        </div>
                        <div style="position: absolute; left: -5000px;">
              <input type="checkbox" name="sleek_blue_striped_photograph" value="1" tabindex="-1" autocomplete="no">
            </div>
                      </form>

                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                      <div style="position: absolute; left: -5000px;">
                      <input type="checkbox" name="sleek_blue_striped_photograph" value="1" tabindex="-1" autocomplete="no">
                      </div>
            </div>
          </div>

{{end}}
