{{ define "main" }}

          <h1 class="e-toph1 toppages">{{.Params.topheading}}</h1>

          <div class="b-wrapper-pages">

            <div class="w-form">

                      <form action="https://getform.io/f/38db29a1-f07a-4722-9ff2-d9f1067e07d3" method="POST" id="email-form" name="email-form" data-name="Email Form" class="form" >
                        <div id="w-node-9c2d6cbb40c2-0c72b48c" class="form_group half"><label for="name-3" class="field_label">Name</label><input required type="text" class="input_form_style w-input" maxlength="256" name="name" data-name="name" placeholder="FULL NAME" id="name"></div>
                        <div class="form_group half"><label for="Email" class="field_label">email</label><input  required type="email" class="input_form_style w-input" maxlength="256" name="Email" data-name="Email" placeholder="EMAIL ADDRESS" id="Email"></div>
                        <div class="form_group half"><label for="phone" class="field_label">phone number</label><input required type="tel" class="input_form_style w-input" maxlength="256" name="phone" data-name="phone" placeholder="PHONE NUMBER" id="phone"></div>


                        <div class="form_group half"><label for="Message" class="field_label">Message</label><textarea required placeholder="TYPE YOUR MESSAGE.." maxlength="5000" id="Message" name="Message" data-name="Message" class="input_form_style txtarea w-input"></textarea></div>
                        <div>
                          <input type="submit" name="Submit" class="e-btn w-button" value="Submit">
                        </div>
                        <div style="position: absolute; left: -5000px;">
              <input type="checkbox" name="sleek_blue_striped_photograph" value="1" tabindex="-1" autocomplete="no">
            </div>
                      </form>

                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                      <div style="position: absolute; left: -5000px;">
                      <input type="checkbox" name="sleek_blue_striped_photograph" value="1" tabindex="-1" autocomplete="no">
                      </div>
            </div>
          </div>
        

{{end}}
