#link_out{text-decoration: none;}
.b-txt-drop-faq > p, li {color:#fff;}



/* The nodes grid systems */
#w-node-14774657ae8c-ee863df1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-95983cfb0687-ee863df1 {
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-632849889a1e-ee863df1 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-632849889a1f-ee863df1 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-632849889a22-ee863df1 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-21ae307b8765-ee863df1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-a062623e5fe0-ee863df1 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-8653fe7a193e-ee863df1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-0c10847f53aa-ee863df1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-18c374554af3-58d4a54b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-18c374554af5-58d4a54b {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-5ce18d161ea2-58d4a54b {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-18c374554b39-58d4a54b {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-18c374554b48-58d4a54b {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-bb68714f5876-a5568e03 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-bb68714f5878-a5568e03 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-bb68714f5879-a5568e03 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-bb68714f58b8-a5568e03 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-bb68714f58c6-a5568e03 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-ac50b247347d-0c72b48c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-ac50b247347f-0c72b48c {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-ac50b2473480-0c72b48c {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-ac50b2473493-0c72b48c {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-ac50b24734a1-0c72b48c {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-6539c7c1e7df-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-6539c7c1e7e1-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-6539c7c1e7e2-510a368e {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-792bc8d5ae96-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: faq-invest;
}

#w-node-b666b6f33151-510a368e {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: acredited-investor;
}

#w-node-792bc8d5aea1-510a368e {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: min-investment;
}

#w-node-a5b1f4a02bab-510a368e {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: last-lap-faq;
}

#w-node-a5b1f4a02bac-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: verify-invesment;
}

#w-node-a5b1f4a02bb7-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cash-investment;
}

@media screen and (max-width: 767px) {
  #w-node-a5b1f4a02bac-510a368e {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-a5b1f4a02bb7-510a368e {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

#w-node-5b1527a13c96-510a368e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-3c9cc0d4716e-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: e-area-fee-structure;
}

@media screen and (max-width: 991px) {
  #w-node-3c9cc0d4716e-510a368e {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

#w-node-5ec314ea6088-510a368e {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6539c7c1e7fb-510a368e {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-6539c7c1e809-510a368e {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-18c374554af3-db9f5a1d {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-18c374554af5-db9f5a1d {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-5ce18d161ea2-db9f5a1d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-18c374554b39-db9f5a1d {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-18c374554b48-db9f5a1d {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-bb68714f5876-a53892f0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-bb68714f5878-a53892f0 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-bb68714f5879-a53892f0 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-bb68714f58b8-a53892f0 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-bb68714f58c6-a53892f0 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-ac50b247347d-9b1d6630 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logoarea;
}

#w-node-ac50b247347f-9b1d6630 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

#w-node-ac50b2473480-9b1d6630 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main-content;
}

#w-node-ac50b2473493-9b1d6630 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-align: end;
  justify-self: end;
  grid-area: b-social-media;
}

#w-node-ac50b24734a1-9b1d6630 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: navbar;
}

@media screen and (max-width: 991px) {
  #w-node-95983cfb0687-ee863df1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-632849889a1e-ee863df1 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    grid-area: main-content;
  }

  #w-node-21ae307b8765-ee863df1 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-18c374554af5-58d4a54b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-5ce18d161ea2-58d4a54b {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-18c374554b39-58d4a54b {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-bb68714f5878-a5568e03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-bb68714f5879-a5568e03 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-bb68714f58b8-a5568e03 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-ac50b247347f-0c72b48c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-ac50b2473480-0c72b48c {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-ac50b2473493-0c72b48c {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-6539c7c1e7e1-510a368e {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-6539c7c1e7e2-510a368e {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-5ec314ea6088-510a368e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-6539c7c1e7fb-510a368e {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-18c374554af5-db9f5a1d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-5ce18d161ea2-db9f5a1d {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-18c374554b39-db9f5a1d {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-bb68714f5878-a53892f0 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-bb68714f5879-a53892f0 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  #w-node-bb68714f58b8-a53892f0 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-ac50b247347f-9b1d6630 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-ac50b2473480-9b1d6630 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-content;
  }

  @media screen and (max-width: 991px) {
    #w-node-14774657ae8c-ee863df1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-632849889a1e-ee863df1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-21ae307b8765-ee863df1 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-8653fe7a193e-ee863df1 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-18c374554af3-58d4a54b {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-18c374554af5-58d4a54b {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-5ce18d161ea2-58d4a54b {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-18c374554b39-58d4a54b {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-18c374554b48-58d4a54b {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-bb68714f5876-a5568e03 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-bb68714f5878-a5568e03 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-bb68714f5879-a5568e03 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f58b8-a5568e03 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f58c6-a5568e03 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-ac50b247347d-0c72b48c {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-ac50b247347f-0c72b48c {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-ac50b2473480-0c72b48c {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b2473493-0c72b48c {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b24734a1-0c72b48c {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-6539c7c1e7df-510a368e {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-6539c7c1e7e1-510a368e {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-6539c7c1e7e2-510a368e {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-6539c7c1e7fb-510a368e {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-6539c7c1e809-510a368e {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-18c374554af3-db9f5a1d {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-18c374554af5-db9f5a1d {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-5ce18d161ea2-db9f5a1d {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-18c374554b39-db9f5a1d {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-18c374554b48-db9f5a1d {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-bb68714f5876-a53892f0 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-bb68714f5878-a53892f0 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-bb68714f5879-a53892f0 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f58b8-a53892f0 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f58c6-a53892f0 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-ac50b247347d-9b1d6630 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-ac50b247347f-9b1d6630 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-ac50b2473480-9b1d6630 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b2473493-9b1d6630 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b24734a1-9b1d6630 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-632849889a1e-ee863df1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-5ce18d161ea2-58d4a54b {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f5879-a5568e03 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b2473480-0c72b48c {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-6539c7c1e7e2-510a368e {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-5ce18d161ea2-db9f5a1d {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-bb68714f5879-a53892f0 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    #w-node-ac50b2473480-9b1d6630 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }
  }

  #w-node-ac50b2473493-9b1d6630 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@media screen and (max-width: 767px) {
  #w-node-14774657ae8c-ee863df1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-95983cfb0687-ee863df1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-18c374554af3-58d4a54b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-18c374554af5-58d4a54b {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-bb68714f5876-a5568e03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-bb68714f5878-a5568e03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-ac50b247347d-0c72b48c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-ac50b247347f-0c72b48c {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-6539c7c1e7df-510a368e {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-6539c7c1e7e1-510a368e {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-18c374554af3-db9f5a1d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-18c374554af5-db9f5a1d {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-bb68714f5876-a53892f0 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-bb68714f5878-a53892f0 {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }

  #w-node-ac50b247347d-9b1d6630 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-ac50b247347f-9b1d6630 {
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}
/* The nodes grid systems end */
