
{{define "main" }}
  <div data-w-id="c68ed30d-1f09-2dc0-c01f-84f78cc585a0" class="section pages">

  {{ partial "nav" . }}

      <div id="w-node-95983cfb0687-58d4a54b" class="blue pages"></div>
      <div id="w-node-5ce18d161ea2-58d4a54b" class="frontpage_div subpages">
        <div class="div-block-11">
          <h1 class="toph1 toppages">meet the founders</h1>
          <div class="div-block-12">
            <div class="founder_pic_wrap"><img src="/images/sherri-pic.jpg" srcset="/images/sherri-pic-p-500.jpeg 500w, /images/sherri-pic.jpg 720w" sizes="(max-width: 479px) 79vw, (max-width: 767px) 37vw, (max-width: 991px) 20vw, 100vw" alt="" class="image-5"></div>
            <div class="founders_content">
              <div class="div-block-14">
                <div class="div-block-13"></div>
                <h2>Sherri Candalario</h2>
              </div>
              <p>Sherri was a single mom to a daughter who was heading down the path of addiction. Despite providing some of the best and most expensive treatment options available in the country, recovery housing that followed treatment failed. Post-treatment, living in a recovery or sober living home is the norm. However, Sherri found that the homes were in poor neighborhoods, people would be removed if a house member didn’t like you or you didn’t do a chore.</p>
            </div>
          </div>
          <div class="div-block-12">
            <div class="founder_pic_wrap"><img src="/images/frankpic.jpg" srcset="/images/frankpic-p-500.jpeg 500w, /images/frankpic.jpg 720w" sizes="(max-width: 479px) 79vw, (max-width: 767px) 37vw, (max-width: 991px) 20vw, 100vw" alt="" class="image-5"></div>
            <div class="founders_content">
              <div class="div-block-14">
                <div class="div-block-13"></div>
                <h2 class="heading-3">FRANK Candalario</h2>
              </div>
              <p>Sherri was a single mom to a daughter who was heading down the path of addiction. Despite providing some of the best and most expensive treatment options available in the country, recovery housing that followed treatment failed. Post-treatment, living in a recovery or sober living home is the norm. However, Sherri found that the homes were in poor neighborhoods, people would be removed if a house member didn’t like you or you didn’t do a chore.</p>
            </div>
          </div>
        </div>
      </div>


    {{partial "socials" . }}
    <div id="w-node-a062623e5fe0-ee863df1" class="white_logocover"></div>
  </div>


  {{ partial "footerscript" . }}
{{end}}
