<div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="form">
            <div id="w-node-9c2d6cbb40c2-0c72b48c" class="form_group half"><label for="name-3" class="field_label">Name</label><input type="text" class="input_form_style w-input" maxlength="256" name="name" data-name="name" placeholder="FULL NAME" id="name"></div>
            <div class="form_group half"><label for="Email" class="field_label">email</label><input type="email" class="input_form_style w-input" maxlength="256" name="Email" data-name="Email" placeholder="EMAIL ADDRESS" id="Email"></div>
            <div class="form_group half"><label for="phone" class="field_label">phone number</label><input type="tel" class="input_form_style w-input" maxlength="256" name="phone" data-name="phone" placeholder="PHONE NUMBER" id="phone"></div>
            <div class="form_group half"><label for="Message" class="field_label">phone number</label><textarea placeholder="TYPE YOUR MESSAGE.." maxlength="5000" id="Message" name="Message" data-name="Message" class="input_form_style txtarea w-input"></textarea></div>
            <div>
              <a href="#" class="inline_btn w-inline-block">
                <div data-w-id="93015fe0-ad96-7d76-5d14-807da3b765da" class="btn_cover">
                  <div class="btn_textcover">
                    <div class="btn_txt">apply now</div>
                    <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1" class="abs_btn_bg _1"></div>
                  </div>
                  <div class="btn_iconwrap"><img src="/images/forwardicon.svg" alt="" class="icon_btn">
                    <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="abs_btn_bg arrowwrap"></div>
                  </div>
                </div>
              </a>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
</div>
