<!-- section starts -->
<!-- navbar tops starts -->
<div id="w-node-8653fe7a193e-ee863df1" class="b-navbar-wrapper">
  <!-- navbar desktop starts -->
  <div class="b-navbar-desktop">
    <div class="b-flex-navb">
      <div class="b-flex-mid">
        {{range .Site.Menus.mainmenu }}
        <a data-w-id="c1da5692-397a-5da0-5041-6ef81ab46b78" href="{{.URL}}" class="nav-link w-inline-block">
          <div>{{.Name}}</div>
          <div class="line_btn"></div>
        </a>
        {{end}}
      </div>
      <div class="b-flex-mid">
        <a id="link_out" href="/event">
        <div data-w-id="efc2e623-bffd-2d76-3779-55f0ee708392 " class="btn_cover">
              <div class="btn_textcover">
                <div class="btn_txt">events</div>
                <div class="abs_btn_bg _1"></div>
              </div>
              <div class="btn_iconwrap">
                <div class="mt_text">󰃭</div>
                <div class="abs_btn_bg arrowwrap"></div>
              </div>
          </div>
          </a>
      </div>
    </div>
  </div>
  <!-- navbar desktop ends -->

  <!-- navbar mobile starts -->
  <div class="mobile-holder">
    <div data-w-id="cf715cd3-eca9-2f31-ccbf-a194b57cd587" class="b-mobile-menu">
      <div>󰍜</div>
    </div>
  </div>
  <!-- navbar mobile ends -->
</div>
<!-- navbar tops ends -->
<!-- section ends -->
