<!-- section starts -->
<!-- navbar tops starts -->
<div id="w-node-8653fe7a193e-ee863df1" class="b-navbar-wrapper">
  <!-- navbar desktop starts -->
  <div class="b-navbar-desktop">
    <div class="b-flex-navb">
      <div class="b-flex-mid">
        {{range .Site.Menus.mainmenu }}
        <a data-w-id="c1da5692-397a-5da0-5041-6ef81ab46b78" href="{{.URL}}" class="nav-link w-inline-block">
          <div>{{.Name}}</div>
          <div class="line_btn"></div>
        </a>
        {{end}}
      </div>
      <div class="b-flex-mid"><a href="tel:+17609079068" class="e-phone-top">+1 760-907-9068</a></div>
    </div>
  </div>
  <!-- navbar desktop ends -->

  <!-- navbar mobile starts -->
  <div class="mobile-holder">
    <div data-w-id="cf715cd3-eca9-2f31-ccbf-a194b57cd587" class="b-mobile-menu">
      <div>󰍜</div>
    </div>
  </div>
  <!-- navbar mobile ends -->
</div>
<!-- navbar tops ends -->
<!-- section ends -->
